Package: linux-bootimage-3.18-140-htc-oce
Source: linux-android-htc-oce
Version: 0.0.0+git20240810110455.86d5787.droidian
Architecture: arm64
Maintainer: Droidian porters <info@droidian.org>
Installed-Size: 70694
Pre-Depends: flash-bootimage (>= 4)
Depends: linux-image-3.18-140-htc-oce (= 0.0.0+git20240810110455.86d5787.droidian)
Section: kernel
Priority: optional
Description: Linux kernel for HTC U-Ultra - Android Boot Image
 This package contains the Linux kernel for the HTC U-Ultra device.
 .
 Note: This package ships an Android Boot Image bundled with Halium's
 initramfs.
